@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">WebApp x DeltaLogix </h1>
    <p>Learn about <a href="https://deltalogix.sharepoint.com/sites/FreeInfoProject/SitePages/OrganizationHome.aspx">Visit The Fre FreeInfoProject x SkylerNihilo</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>

<div class="text-center">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>